*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
}

.about-header{
    width: 100%;
    background-color: #FFB31D ;
    
}

/* #E5E5E5 
   #FFB31D
*/ 